<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 27, 60);
  }

  html,
  body,
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  pre,
  form,
  fieldset {
    padding: 0px;
    margin: 0px;
  }

  .bddnIl {
    width: 100%;
    min-height: 216px;
    position: relative;
    background-color: rgb(255, 255, 255);
  }

  .fwvRNl {
    max-width: 100%;
    /*overflow: auto;*/
  }

  .iKeoNy {
    /* max-width: 2248px; */
    /* max-height: 245px; */
    /*overflow: auto;*/
  }

  .kTdcnN {
    display: flex;
    position: sticky;
    background-color: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    z-index: 980;
  }


  .iJNdJS {
    box-shadow: rgb(195, 198, 207) 0px 0px 15px;
    clip-path: inset(0px -15px 0px 0px);
  }

  /*Temo left*/
  .fRnrBw {
    min-width: 250px;
    max-width: 250px;
  }

  .jluBao {
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    padding-right: 10px;
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }

  .hEBDWR {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  .dISwOw {
    margin-left: 8px;
  }

  .fGlQhw {
    min-width: 75px;
    max-width: 75px;
  }

  .jtWdys {
    min-width: 90px;
    max-width: 90px;
  }

  .hyfWkB {
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    padding-right: 20px;
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .gZwIU {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: unset;
  }

  /* Dias */

  .juAMsA {
    min-width: 54px;
    max-width: 54px;
  }

  .cSGCUy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    background-color: rgb(238, 240, 250);
    color: rgb(0, 71, 136);
  }

  .jBgGIG {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }

  .cSGCUy .sc-dXqVGa {
    color: rgb(0, 71, 136);
  }

  .ySfMd {
    color: rgb(0, 71, 136);
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
  }

  .OoikG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
  }

  /* Rows */

  .bddnIl .tbody {
    position: relative;
    transform: translateY(0px);
  }

  .TGriw {
    display: flex;
    position: relative;
  }

  .kICUIr {
    display: flex;
    position: relative;
    transform: translateX(0px);
  }

  .crKZxX.titleColumnAvatarLink {
    color: rgb(0, 27, 60);
  }

  a:visited,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .crKZxX {
    display: flex;
    align-items: center;
    margin-left: 0px;
    width: 330px;
    font-weight: normal;
  }

  a {
    color: rgb(0, 127, 176);
    text-decoration: none;
    cursor: pointer;
  }

  .fHhmxa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
    width: 16px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .kVwHpR {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
  }

  .hGDBYt {
    height: 16px;
    width: 16px;
    max-height: 16px;
    max-width: 16px;
    filter: none;
  }

  /* Registradod */

  .isVhhb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 36px;
    font-size: 13px;
    border-bottom: 1px solid rgb(224, 226, 236);
    align-items: flex-end;
    font-weight: normal;
    padding: 0px 20px 0px 0px;
  }

  .czBxrt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .fzpUhk {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  /* Cuerpo días */

  .eTyDgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: normal;
    background-color: rgb(238, 240, 250);
    max-width: 54px;
  }

  .leHzlL {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .bThugG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: normal;
    background-color: rgba(233, 99, 111, 0.16);
    max-width: 54px;
  }

  .nrDOj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: normal;
    max-width: 54px;
  }


  .gXGvrj {
    box-shadow: rgb(195, 198, 207) 0px 0px 15px;
    clip-path: inset(0px -15px 0px 0px);
    display: flex;
    position: sticky;
    left: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 970;
  }

  .success{
    background-color: #E2EFDA;
  }

  .xKKRw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 36px;
    font-size: 13px;
    border-bottom: 1px solid rgb(224, 226, 236);
    align-items: flex-start;
    font-weight: normal;
    padding: 0px 0px 0px 20px;
  }

  /* Totales */

  .coTgcy {
    display: flex;
    position: sticky;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    z-index: 980;
    width: 2244px;
  }

  .cAsyut {
    left: 0px;
    display: flex;
    position: sticky;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    z-index: 980;
    box-shadow: rgb(195, 198, 207) 0px 0px 15px;
    clip-path: inset(0px -15px 0px 0px);
  }

  .bmLxPM {
    display: flex;
    background-color: rgb(255, 255, 255);
  }

  .FVxyg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
  }

  .bcIiee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
  }

  .rQpNM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
    align-items: flex-end;
    width: 100%;
    padding-right: 20px;
  }

  .czBxrt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .fzpUhk {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


  .bcIiee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
  }

  .lhPsff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .fzpUhk {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .bcIiee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
  }

  .lhPsff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .bcIiee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px none rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
  }

  .hKFJau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-right: 1px solid rgb(224, 226, 236);
    border-bottom: 1px solid rgb(224, 226, 236);
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid rgb(224, 226, 236);
  }

  #head-mes-principal-nombre, #head-mes-anterior-nombre{
    height: 36px;
    padding-top: 8px; 
    font-weight: 600;
    text-align: center;
  }

  #head-mes-anterior-nombre{
    background-color: #D9D9D9 ; 
  }

  #head-mes-principal-nombre{
    background-color: #D9E1F2 ; 
  }

  .leHzlL:hover{
    background-color: #D9D9D9;
  }

  /*Otros*/

  .td-hoy{
    background-color: #FFFF00 !important; font-weight: 600; text-align: center;
  }
  
  .item-prepago{
    padding: 5px;
    font-size: 14px;
    font-weight: 500!important;
    cursor: pointer;
  }
  
  .bg-item-adelanto{
    background-color: #c2e7ff!important; 
  }
  .bg-item-tardanza{
    background-color: #ffebc2!important; 
  }
  .bg-item-falta{
    background-color: #ffc2c2!important;
  }
  .bg-item-descuento{
    background-color: #F2CEEF!important;
  }

  .bg-leyenda-adelanto{
    background-color: #98d3f9!important; 
  }
  .bg-leyenda-tardanza{
    background-color: #f7d693!important; 
  }
  .bg-leyenda-falta{
    background-color: #fb9696!important;
  }
  .bg-leyenda-descuento{
    background-color: #f5a7ef!important;
  }
  .bg-leyenda-pago{
    background-color: #309e65!important;
  }
  .bg-leyenda-pago-registrado{
    background-color: #474948!important;
  }

  .item-pagado{
    color: #FFF;
    background-color: #3e3c3c!important;
    padding: 5px;
    font-size: 14px;
    font-weight: 500!important;
    cursor: pointer;
  }
  .td-nombres{
    text-align: left!important;
    font-size: 16px
  }
  .item-pago{
    background-color: #0b8043; 
    color: #FFF; 
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-cancelar{
    margin-left: 10px;
    margin-right: 10px;
    color: #002D87;
  }
  .btn-cancelar:hover{
    text-decoration: underline;
  }

</style>