

.fRnrBw_v2 {
  min-width: 240px;
  max-width: 240px;
}

.kVwHpR_v2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*width: 140px;*/
  width: 210px;
}

.gXGvrj .td{
    min-width: 240px;
    max-width: 240px;
  }

/*LEFT, DIA, SUELDO*/
  .fGlQhw_v2 {
    min-width: 55px;
    max-width: 55px;
  }

  .jtWdys_v2 {
    min-width: 90px;
    max-width: 90px;
  }

  .gXGvrj .td_row_1{
    min-width: 55px;
    max-width: 55px;
  }

  .gXGvrj .td_row_2{
    min-width: 90px;
    max-width: 90px;
  }

/**/


@media only screen and (max-width: 750px) {
  /*Temo left*/
 
  .fRnrBw_v2 {
    min-width: 150px;
    max-width: 150px;
  }

  .kVwHpR_v2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    /*width: 210px;*/
  }

  .gXGvrj .td{
    min-width: 150px;
    max-width: 150px;
  }

  .fGlQhw_v2 {
    display: none;
  }

  .jtWdys_v2 {
    display: none;
  }

  .gXGvrj .td_row_1{
    display: none;
  }

  .gXGvrj .td_row_2{
    display: none;
  }

}

