/*Modificaciones de la planitlla Ace-Master*/
/*Modificaciones de la planitlla Easy ui*/
.panel{
	margin-bottom: 10px!important;
    /*overflow: hidden;*/
}
.panel-header{
    border: 1px solid #DDDDDD!important;
    background-color: #F5F5F5;
    padding: 5px 10px;
    
}
.panel-header .panel-title{
    font-size: 14px!important;
}

.panel-heading, .panel-body{
	border: 1px solid #DDDDDD!important;
}
.panel-heading{
	/*font-size: 15px;*/
}

/*Body de los paneles*/
.panel-body{
	padding: 15px;
     overflow-y:hidden!important;
}
/*Body de la tabla*/
.datagrid-wrap{  
    padding: 0px!important;
}
.tooltip {
    background-color: transparent!important;
    border: 0px !important;
}
.form-group label{
	color: #002D87;
	font-family: 'Open Sans'!important;
	font-size: 13px;
}
.form-control, textarea{
	color: #232323!important;
	font-family: 'Open Sans'!important;
	font-size: 13px!important;
}
 .form-group input:disabled{
    color: #232323!important;
}
input:disabled{
    color: #232323!important;
}
.form-group{
    margin-bottom: 10px!important;
}
input, .form-control{
    font-family: 'Titillium Web', sans-serif!important;
}




























/*Mensaje para eliminar*/
.divMessageBox{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100000;
}
.MessageBoxContainer{
    top: 35%;
    color: white;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.MessageBoxMiddle{
    position: relative;
    left: 20%;
    width: 60%;
}
.MsgTitle{
    color: #FF3333;
    font-weight:bold!important;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
}
.MsgText{
    font-size: 15px;
    margin-bottom: 10px;
}
.MsgOptions{
    width: 100%;
    height: 30px;
}







/*tabla*/
thead th{
    padding: 5px!important;
    font-weight: 350!important;
    color: #242424;
}
tbody td{
    padding: 4px!important;
}
.profile-info-value{
    padding: 0px!important;
}
.dataTables_wrapper .row:first-child {
    padding-top: 10px!important;
    padding-bottom: 0px!important;
}
.dataTables_wrapper .row:last-child{
    padding-top: 5px!important;
    padding-bottom: 0!important;
}
/*Botones para estado*/
    .btn-verde{
        background-color: #619C56!important;
        border: 1px solid #619C56 !important;
        padding: 4px 9px;
        color: #FFF!important;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        vertical-align: middle;
        position: relative;
        width: 100%;
    }
    .btn-rojo{
        background-color: #C44731!important;
        border: 1px solid #C44731 !important;
        padding: 4px 9px;
        color: #FFF!important;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        vertical-align: middle;
        position: relative;
        width: 100%;
    }
    .btn-amarillo{
        background-color: #FEE181!important;
        border: 1px solid #FED343 !important;
        padding: 4px 9px;
        color: #462300!important;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        vertical-align: middle;
        position: relative;
        width: 100%;
    }

    .dinero{
        padding-right: 25px!important;
        text-align: right!important;
    }
    .dinero-total{
        padding-right: 25px!important;
        text-align: right!important;
        font-weight: bold;
        font-size: 14px!important;
    }


/*Tabla*/
table td{
    vertical-align: middle!important;
    color: #000!important;
}

/*INFORMEACION ESTADÍSTICA*/

    .info-box{
        display: block;
        min-height: 95px;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 2px;
        margin-bottom: 15px;
        border: 1px solid #D8D8D8;

        -webkit-box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.14);
        box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.14);
    }
    .info-box-text{
        text-transform: uppercase;
    }
    .progress-description, .info-box-text {
        display: block;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .info-box-number {
        margin-top: 10px;
        display: block;
        font-weight: bold;
        font-size: 18px;
    }
    .info-box-title{
        color: #5F5F5F;
        font-weight: bold;
        padding: 5px 10px;
        border-bottom: 1px solid #D8D8D8;
    }
    .info-box-body{
        margin-left: 10px;
        padding: 0px 10px;
    }
    .cargando{
        font-size: 10px;
        color: #478FCA!important;
        font-weight: bolder;
    }

/**/
.error{
    color: red!important;
}
/*Caja de comentario para pedidos*/
.comentario_pedido{
    padding: 3px;
    color: #332200;
    margin-top: 2px;
    font-style: oblique;
    background-color: #FDF7DB;
    border: 1px solid #FFC53C;
    /*opacity: 0.8;*/
}

.btn_familia_seleccionada, .btn_familia_seleccionada:focus,  .btn_familia_seleccionada:hover,  .btn_familia_seleccionada:focus:hover, .btn_familia_seleccionada:active{
    background-color: #F37C2F!important;
    border: 4px solid #F37C2F!important;
}

.contenido{
    min-height: 30px;
    line-height: 1.52857;
    color: rgb(40, 40, 40) !important;
    font-size: 12px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 5px 8px;
    border-radius: 5px;
    background: rgb(247, 247, 247) !important;
}

/*Estilos para los botones de ir hacia arriba o abajo*/
.ir-arriba,.ir-abajo {
    /*display:none;*/
    padding:10px 20px;
    opacity: 0.5;
    background:#888888;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    
}
.ir-arriba {
    bottom:70px;
    right:10px;
    /*display:none;*/
}
.ir-abajo{
    bottom:10px;
    right:10px;
}
.ir-arriba:hover,.ir-abajo:hover {
    opacity: 1.0;
}
.btn-sm-opciones{
    margin-top: -5px!important;
    height: 31px;
}
.row_info{
     display: block;
}
.row_info_name{
    padding: 0px 10px 0px 0px;
    font-weight: 700;
    background-color: transparent;
    width: 120px;
    vertical-align: middle;
    display: table-cell;
}
.row_info_value{
    display: table-cell;
}
.etiqueta{
    width: 140px;
    vertical-align: middle;
}

/*Box*/
.widget-color-granate{
    border-color: #AF3A3E!important;
    background: #AF3A3E!important;
    border-color: #AF3A3E;
    margin-bottom: 20px;
}
.widget-color-granate>.widget-header {
    border-color: #AF3A3E!important;
    background: #AF3A3E!important;
}

.btn-granate{
    background-color: #A9383C!important;
    border-color: #A9383C;
}

.btn-granate:focus, 
.btn-granate:hover, 
.btn-granate:active, 
.btn-granate:focus:hover,
.btn-granate:focus:active{
    background-color: #752628!important;
    border-color: #752628!important;
}

/*Modificar estilos de la plantilla*/
.navbar{
    background: #AF3A3E!important;
}
.ace-nav>li.light-blue>a {
    background-color: #AF3A3E!important;
}
.no-skin .navbar .navbar-toggle {
    background-color: #BC3F42!important;
}

/*Botones para seleccionar*/
.btn-sin-seleccion{
    background-color: #FFF!important;
    border: 1px solid #49be25 !important;
    color: #49be25!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    vertical-align: middle;
    position: relative;
    width: 100%;
    font-weight: 500;
    padding: 15px;
}

.btn-sin-seleccion:hover, .btn-sin-seleccion:focus, .btn-sin-seleccion:focus:hover, .btn-sin-seleccion:active, .btn-sin-seleccion:active:hover{
    background-color: #49be25!important;
    border: 1px solid #49be25 !important;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    vertical-align: middle;
    position: relative;
}

.btn-seleccionado{
    background-color: #49be25!important;
    border: 1px solid #49be25 !important;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    vertical-align: middle;
    position: relative;
    width: 100%;
    font-weight: 500;
    padding: 15px;
}

.btn-seleccionado:hover, .btn-seleccionado:focus, .btn-seleccionado:focus:hover, .btn-seleccionado:active, .btn-seleccionado:active:hover{
    background-color: #49be25!important;
    border: 1px solid #49be25 !important;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    vertical-align: middle;
    position: relative;
}


/*Check box*/
.check-lista{
    list-style:none!important;
}
.check-lista .modulo, .opcion{
    color: #4d7fbf;
    /*margin: 5px;*/
}
.check-lista .modulo .modulo-titulo a, .check-lista .opcion .opcion-titulo a{
    /*padding: 10px 15px;*/
    text-decoration: none!important;
}
.check-lista .modulo .modulo-titulo, .opcion .opcion-titulo{
    padding: 1px!important;
    /*text-decoration: none!important;*/
}
.check-lista .modulo{
    margin-left: 0px;
}
.opcion{
    margin-left: 10px;
}
.check-lista .modulo .modulo-titulo:hover{
    background: #d7e8f4;
}
.opcion .opcion-titulo:hover{
    background: #d7e8f4;
}

.btn-sin-disenio{
    color:  #272727!important;
    font-size: 13px;
    background-color: #f1f1f1!important;
    border: 1px solid #272727;
    font-family: 'Tahoma';
    padding: 3px 8px 4px 8px;
    text-decoration: none;
}

.btn-sin-disenio:focus, .btn-sin-disenio:hover, .btn-sin-disenio:active, .btn-sin-disenio:hover:focus:active{
    background-color: #dedddd!important;
    text-decoration: none;
    border: 1px solid #272727;
}

hr {
    margin-top: 10px!important;
}

.page-title{
    font-size: 18px!important;
    margin-top: 10px;
    margin-left: 0px;
}

#fecha {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
#reloj {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


 .no-skin .sidebar-shortcuts{
    background-color: #FFF;
}
.btn-mes{
    color: #868383;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-bottom: 4px solid #FFF;
    font-weight: 600;
}
.btn-mes-active {
    color: #d02d32;
    border-bottom: 4px #d02d32 solid;
}

.card-marcacion-foto{
    border: 1px solid red;
    margin: 5px;
    padding: 0px !important;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);

    margin: 0 auto;
    border: 1px solid #eaeaea;
    /*text-align: center;*/
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 30px;
}
.card-marcacion-calendar{
    text-align: left;
    min-height: 50px;
    color: #000;
    /*display: flex;*/
    align-items: center;
    padding: 5px;
    margin-left: 10px;
}

.navbar .navbar-brand{
    font-size: 18px!important;
}
@media (max-width: 640px){
    .navbar-brand div{
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}