body {
    font-family:verdana,helvetica,arial,sans-serif;
    margin:0;
}

.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}